extends layout.pug

block content
    div.container
        h1 All notes

        each note in notes
            div.note-wrapper
                a.note(href=`/notes/${note.id}`) #{note.title}
                a.delete(href='#') delete